h1 {
  color: navy;
  margin-left: 20px;
  background-color: yellow;
  opacity: 0.6;
  border-style: double;
  border-color: blue;
}
img {width: 300px;
	height: 250px;
	border: 1px solid black;
  margin-right: 150px;
  margin-left: 300px;
	}
h2 {
	border: 1px solid black;
  margin: 25px;
  background-color: lightblue;
  opacity: 0.8;
	color: maroon;
	}
h3 {border: 1px solid black;
  margin: 25px;
  background-color: lightblue;
  opacity: 0.8;
	color: maroon;
	}
tr {margin-left:30px;
	color:slateblue;
	}
td {margin-left: 30px;
}