.jumbotron {
	background-image: url(biru.jpg);
	background-size: cover;
	height: 780px;
	text-align: center;
}
.jumbotron p {
	font-size: 30px;
	color: darkblue;
	margin-top: 60px;
}
.Gallery {
	width: 1348px;
	border-top: 3px solid #999;
	background-color: #eee; 
	}

.jumbotron img {
	width: 200px;
	margin-top: 100px;
}
.jumbotron h1 {
	width: 200px;
	margin-left: 560px;
}
.body {
	margin-top: 50px;
}